@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Kalnia:wght@100..700&family=Mirza:wght@400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #eb5e28;
  --secondary: #ccc5b9;
  --input: #a18276;
  --shadows: #403d39;
  --white: #fffcf2;
  --dark: #252422;
  --background: #a18276;
}

html,
body {
  margin: 1rem;
  padding: 0;
  height: 100%;
  background-image: url(./assets/img/background.png);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Mirza", serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--dark);
  text-transform: uppercase;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 18px;
  padding-top: 0.25rem;
}

.hamburger span {
  display: block;
  height: 2px;
  background-color: var(--dark);
  border-radius: 2px;
}

.hero-text {
  margin: 3rem 0 4rem 0;
}

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

.hero-text h1 {
  font-family: "Kalnia", serif;
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--dark);
}

.date,
.packing-checklist {
  display: flex;
  align-items: center;
  font-family: "Castoro", serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--dark);
  margin: 0 0 1.25rem 0;
}

.image {
  width: 100%; /* Ensure the container takes up full width */
  overflow: hidden; /* Prevents overflow */
}

.city-monument {
  width: 100%; /* The image container should also take up full width */
  max-width: 100%; /* Prevents scaling beyond the container's width */
  position: relative; /* To help with centering the image */
  margin-bottom: 3rem;
}

.city-monument img {
  width: 100%; /* Makes the image scale with its container */
  height: auto; /* Maintains the aspect ratio */
  object-fit: cover; /* Ensures the image covers the container without distorting */
}

/* FORM */
.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--input);
  border-radius: 20px;
}

.add-form input,
.add-form button {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-style: italic;
  color: var(--secondary);
  background-color: var(--dark);
  padding: 10px 18px;
  border: none;
  outline: none;
}

.add-form input {
  font-weight: 400;
  width: 100%;
  border-radius: 20px 0 0 20px;
}

.add-form button {
  font-weight: 600;
  border-radius: 0 20px 20px 0;
}

.add-form input::placeholder {
  color: var(--secondary);
}

.add-form input:focus,
.add-form button:focus,
.add-form input:active,
.add-form button:active {
  outline: none;
  box-shadow: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: var(--input);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

input[type="checkbox"]:checked {
  background-image: url("./assets/img/checked.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--dark);
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 1.25rem 0 1.75rem 0;
}

.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.list li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
}

.list button {
  font-size: 1rem;
  color: rgba(37, 36, 34, 0.5);
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: auto;
}

/* STATS */
.stats {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary);
  background-color: var(--dark);
  text-align: center;
  padding: 30px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 7rem;
  }
}

/* XR,  */
@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 6.25rem;
  }
}

/* 14 Pro Max, */
@media (max-width: 430px) {
  .hero-text h1 {
    font-size: 7rem;
  }
}

/* s20 ultra */
@media (max-width: 412px) {
  .hero-text h1 {
    font-size: 6.5rem;
  }
}

/* 12 Pro, */
@media (max-width: 390px) {
  .hero-text h1 {
    font-size: 6.25rem;
  }
}

/* SE, */
@media (max-width: 375px) {
  .hero-text h1 {
    font-size: 6rem;
  }
}

/* s8+,  */
@media (max-width: 360px) {
  .hero-text h1 {
    font-size: 5.75rem;
  }
}

/* s9+, */
@media (max-width: 320px) {
  .hero-text h1 {
    font-size: 5rem;
  }
}
